#main-menu #extension-power-settings-menu-item {
  background-image: url('../images/menu-icon.svg');
}


/*  fullscreen icon  */
#extension-power-settings-fullscreen-button-container{
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 5.6rem;
    width: 5.6rem;
    background-color: #5d9bc7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    border-radius:50%;
}

#extension-power-settings-content #extension-power-settings-fullscreen-button{
    background: no-repeat center/100% url('../images/fullscreen-icon.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    border-radius:50%;
}



#extension-power-settings-secondary-buttons{
    text-align:center;
}

#extension-power-settings-view {
	height: 100%;
	box-sizing: border-box;
	/* overflow: auto; */
	/* position: relative; */
	top: 0rem;
	/* left: 0; */
	/* margin-top: 6em; */
	padding: 2rem;
	margin-top: 6rem;
	overflow: auto;
}


#extension-power-settings-content {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: auto;
	position: relative;
	text-align: left;
	font-size: 1.6rem;
	color: #fff;
	margin: 0 auto;
	min-height:100%; 
}

#extension-power-settings-content > *{
    max-width:60rem;
}


#extension-power-settings-content-container{
	max-height: 100%;
}


#extension-power-settings-content label{
	min-width: 100px;
	display: inline-block;
}

#extension-power-settings-content input:invalid{
	/*border:2px solid red;*/
}

#extension-power-settings-time-container{
    display:none;
    background-color:rgba(0,0,0,.2);
    border-radius:.5rem;
    padding:2rem;
    margin: 2rem;
}


/*  waiting  */

#extension-power-settings-waiting{
    background-color:rgba(0,0,0,.2);
    border-radius:.5rem;
    padding:2rem;
    margin: 2rem;
    text-align:center;
}
#extension-power-settings-waiting > img{
    margin: 2rem auto;
}


.extension-power-settings-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.extension-power-settings-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.extension-power-settings-spinner div:nth-child(1) {
  left: 8px;
  animation: extension-power-settings-spinner1 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(2) {
  left: 8px;
  animation: extension-power-settings-spinner2 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(3) {
  left: 32px;
  animation: extension-power-settings-spinner2 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(4) {
  left: 56px;
  animation: extension-power-settings-spinner3 0.6s infinite;
}
@keyframes extension-power-settings-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes extension-power-settings-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes extension-power-settings-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



/*  full screen icon  */

#extension-power-settings-top-right-icon-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 6rem;
    width: 6rem;
}

#extension-power-settings-main-buttons{
    text-align:center;
}


.extension-power-settings-vlak{
    max-width:60rem;
    margin:0 auto;
    background-color:rgba(0,0,0,.2);
    padding:2rem;
}

#extension-power-settings-content button{
    opacity:.9;
    border: none;
    cursor:pointer;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color:rgba(0,0,0,.2);
    color:inherit;
}
#extension-power-settings-content button:hover{
    opacity:1;
}

#extension-power-settings-main-buttons > button{
    font-size:3rem;
    padding:1.5rem 3rem;
    margin: 1rem;
    background-color:rgba(0,0,0,.4);
}

#extension-power-settings-secondary-buttons > button{
    margin: 1rem;
    opacity:.6;
    padding:.5rem 1rem;
    border-radius:.5rem;
}

#extension-power-settings-content #extension-power-settings-form-submit{
    font-size: 2rem;
    padding: 1rem 2rem;
}


@media screen and (min-width: 1024px) {
	
    /*
    #extension-power-settings-view{
		left:6rem;
		top: 0;
		height:100vh; 
		position:absolute;
	}
	
	#extension-power-settings-content{
		
	}
	
	#extension-power-settings-content-container{
		height:auto;
		max-width:60rem;
	}
    */
}




.extension-power-settings-checkbox-container{
	text-align:left;
	width:100px;
	display: inline-block;
	margin-top:1rem;
    padding-right:2rem;
    text-align:right;
    box-sizing:border-box;
}


#extension-power-settings-form-browser-time-button{
	margin-left:100px;
}


#extension-power-settings-form-ntp{
	-moz-transform: scale(1.50);
  -webkit-transform: scale(1.50);
  -o-transform: scale(1.50);
  transform: scale(1.50);
	margin-right: .5rem;
	margin-top: 1.5rem;
}


#extension-power-settings-content .control-label{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top:1rem;
}


#extension-power-settings-content .field-description{
	margin-top: .5rem;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 100px;
}
