<div id="extension-power-settings-content">
    
    <div id="extension-power-settings-waiting" style="display:none">
        <div id="extension-power-settings-waiting-message">
        </div>
        <div class="extension-power-settings-spinner">
            <div></div><div></div><div></div><div></div>
        </div>
    </div>
    
    <div id="extension-power-settings-content-container">
          
          <div id="extension-power-settings-centered">
              
              <div id="extension-power-settings-main-buttons">
                <!--<h2>Shutdown or reboot the system</h2>-->
                <button type="button" id="extension-power-settings-reboot"  title="Shuts down and then powers up the controller again">Reboot</button>
                <button type="button" id="extension-power-settings-shutdown" title="Shuts down the controller">Shut down</button>
                <button type="button" id="extension-power-settings-restart" title="Restarts the controller software without completely reboot">Restart</button>
              </div>
              
              <br/>
              <br/>
              <div id="extension-power-settings-secondary-buttons"><button type="button" id="extension-power-settings-show-time-settings-button">Set clock</button> <button type="button" id="extension-power-settings-show-reset-settings-button">Reset</button></div>
              
          </div>

          
          
          <div id="extension-power-settings-container-time" class="extension-power-settings-container">
                
                <h2>Manually set the time</h2>
                <p>Most smart home devices connect to the internet get the current time. This can share your IP address with third parties who provide that service. Since nothing is free, you might want to set the time manually instead. However, you will have to do this every time you reboot.</p>
                <br/>
                <div id="extension-power-settings-form-content">
                      <label for="hours">Hours: </label><input type="number" name="hours" onfocus="this.placeholder=''" id="extension-power-settings-form-hours" required>
                      <br/>
                      <label for="minutes">Minutes: </label><input type="number" name="minutes" onfocus="this.placeholder=''" id="extension-power-settings-form-minutes" required>
                      <br/>
                      <button type="button" id="extension-power-settings-form-browser-time-button">Get time from browser</button>
                      <br/>
                      <br/>
                      <!--<h3>Internet time</h3>-->
                      <div class="extension-power-settings-checkbox-container"><input type="checkbox" name="ntp" id="extension-power-settings-form-ntp" checked></div><label for="ntp">Allow time from the internet?</label>
                      <p class="field-description">If enabled, as soon as there is an internet connection, any manually provided time will be overridden by an internet NTP server.</p>
                      <br/>
                      <div style="text-align:right">
                          <button type="button" id="extension-power-settings-form-submit-time">Set clock</button>
                      </div>
                </div>
          </div>


          <div id="extension-power-settings-container-reset" class="extension-power-settings-container">
                
                <h2>Factory reset</h2>
                <p>This will:</p>
                <p>
                    <ul>
                        <li>Remove the settings database and put the version from the factory in its place. This removes all user accounts and most addon settings.</li>
                        <li>Remove persistent data files for most Candle addons. You can choose to make an exception for the Zigbee2MQTT addon.</li>
                        <li>Remove all data logs.</li>
                        <li>Once complete, it will turn off the controller.</li>
                    </ul>
                </p>
                <div id="extension-power-settings-form-content-reset">
                    <br/>
                    <br/>
                    <label for="understand">Type "I understand" to confirm: </label><br/><input type="text" name="understand" id="extension-power-settings-form-understand" required style="width:calc(100% - 1rem)"/>
                    <br/>
                    <br/>
                    
                    <div class="extension-power-settings-checkbox-container"><input type="checkbox" name="keep-z2m" id="extension-power-settings-keep-z2m" checked></div><label for="keep-z2m">Allow Zigbee devices to remain paired</label>
                    <p class="field-description" style="opacity:.6">If checked, the currently paired Zigbee devices will not have to be re-paired.</p>
                    
                    <br/> 
                    <div style="text-align:right">
                        <button type="button" id="extension-power-settings-form-reset-submit">Factory reset</button>
                    </div>
                </div>
          </div>
          

          <br>
          <br>

          <div id="extension-power-settings-response" style="display:none">
                <pre id="extension-power-settings-response-data"></pre>
          </div>
          
    </div>
    <div id="extension-power-settings-fullscreen-button-container"><button id="extension-power-settings-fullscreen-button" class="icon-button" data-l10n-id="fullscreen-button" aria-label="Fullscreen"></button></div>
    
</div>





